<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hengsu.uliketu.core.repository.ConfRepository" >
  <resultMap id="BaseResultMap" type="com.hengsu.uliketu.core.entity.Conf" >
    <id column="conf_key" property="confKey" jdbcType="VARCHAR" />
    <result column="conf_value" property="confValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    conf_key, conf_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from conf
    where conf_key = #{confKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from conf
    where conf_key = #{confKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hengsu.uliketu.core.entity.Conf" >
    insert into conf (conf_key, conf_value)
    values (#{confKey,jdbcType=VARCHAR}, #{confValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hengsu.uliketu.core.entity.Conf" >
    insert into conf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="confKey != null" >
        conf_key,
      </if>
      <if test="confValue != null" >
        conf_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="confKey != null" >
        #{confKey,jdbcType=VARCHAR},
      </if>
      <if test="confValue != null" >
        #{confValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengsu.uliketu.core.entity.Conf" >
    update conf
    <set >
      <if test="confValue != null" >
        conf_value = #{confValue,jdbcType=VARCHAR},
      </if>
    </set>
    where conf_key = #{confKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengsu.uliketu.core.entity.Conf" >
    update conf
    set conf_value = #{confValue,jdbcType=VARCHAR}
    where conf_key = #{confKey,jdbcType=VARCHAR}
  </update>
  <select id="selectCount" resultType="java.lang.Long" parameterType="com.hengsu.uliketu.core.entity.Conf" >
    select count(*) from conf
    <where >
      <if test="confKey != null" >
        and conf_key = #{confKey,jdbcType=VARCHAR}
      </if>
      <if test="confValue != null" >
        and conf_value = #{confValue,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectPage" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from conf where 1 = 1 
    <if test="param1.confKey != null" >
      and conf_key = #{param1.confKey,jdbcType=VARCHAR}
    </if>
    <if test="param1.confValue != null" >
      and conf_value = #{param1.confValue,jdbcType=VARCHAR}
    </if>
    <if test="param2.sort != null" >
      order by 
      <foreach collection="param2.sort" item="order" separator="," >
        ${order.property} ${order.direction}
      </foreach>
    </if>
    <if test="param2.offset >= 0 and param2.pageSize > 0" >
      limit ${param2.offset}, ${param2.pageSize}
    </if>
  </select>
</mapper>