<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hengsu.uliketu.mall.repository.ShoppingLogRepository" >
  <resultMap id="BaseResultMap" type="com.hengsu.uliketu.mall.entity.ShoppingLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shopping_id" property="shoppingId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="shopping_time" property="shoppingTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, shopping_id, user_id, shopping_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mall_shopping_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mall_shopping_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hengsu.uliketu.mall.entity.ShoppingLog" >
    insert into mall_shopping_log (id, shopping_id, user_id, 
      shopping_time)
    values (#{id,jdbcType=BIGINT}, #{shoppingId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{shoppingTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hengsu.uliketu.mall.entity.ShoppingLog" >
    insert into mall_shopping_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shoppingId != null" >
        shopping_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="shoppingTime != null" >
        shopping_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shoppingId != null" >
        #{shoppingId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="shoppingTime != null" >
        #{shoppingTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengsu.uliketu.mall.entity.ShoppingLog" >
    update mall_shopping_log
    <set >
      <if test="shoppingId != null" >
        shopping_id = #{shoppingId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="shoppingTime != null" >
        shopping_time = #{shoppingTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengsu.uliketu.mall.entity.ShoppingLog" >
    update mall_shopping_log
    set shopping_id = #{shoppingId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      shopping_time = #{shoppingTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectCount" resultType="java.lang.Long" parameterType="com.hengsu.uliketu.mall.entity.ShoppingLog" >
    select count(*) from mall_shopping_log
    <where >
      <if test="id != null" >
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="shoppingId != null" >
        and shopping_id = #{shoppingId,jdbcType=BIGINT}
      </if>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="shoppingTime != null" >
        and shopping_time = #{shoppingTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectPage" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from mall_shopping_log where 1 = 1 
    <if test="param1.id != null" >
      and id = #{param1.id,jdbcType=BIGINT}
    </if>
    <if test="param1.shoppingId != null" >
      and shopping_id = #{param1.shoppingId,jdbcType=BIGINT}
    </if>
    <if test="param1.userId != null" >
      and user_id = #{param1.userId,jdbcType=BIGINT}
    </if>
    <if test="param1.shoppingTime != null" >
      and shopping_time = #{param1.shoppingTime,jdbcType=TIMESTAMP}
    </if>
    <if test="param2.sort != null" >
      order by 
      <foreach collection="param2.sort" item="order" separator="," >
        ${order.property} ${order.direction}
      </foreach>
    </if>
    <if test="param2.offset >= 0 and param2.pageSize > 0" >
      limit ${param2.offset}, ${param2.pageSize}
    </if>
  </select>
</mapper>